<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
    <title>Admin Page</title>

  </head>

  <body>
  <% include ./partials/_header %>
  <div id="index" class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3 class="chartTitle">Results for Poll: <%= candidates[0]['title'] %></h3>
        <h3 class="chartTitle"><%= candidates[0]['question'] %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <canvas id="myChart" width="400px" height="400px"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
      <h3><%= voters.length %> voters so far:</h3>
        <table class="table adminStats">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col" class="voterRanking">Ranking order</th>
            </tr>
          </thead>
          <% for (let voter in voters) { %>
            <tr>
              <% let ranking = voters[voter]['ranking'] %>
              <td><strong><%= voters[voter]['username'] %></strong>: </td>
              <td class="voterRanking"><%= ranking.split(',').join(', ')  %></td>
            </tr>
          <% } %>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <button id="closePollBtn" class="btn btn-warning" active="<%= candidates[0]['is_active'] %>"></button>
        <div id="successMsg">Successfully updated poll status!</div>
      </div>
    </div>
  </div><!-- /.container -->
  <% include ./partials/_body-scripts %>
  <% include ./partials/_chart-scripts %>
  </body>
</html>
