<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
    <title>Vote Page</title>
  </head>

  <body>
  <% include ./partials/_header %>
  <div id="index" class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h2><%= candidates[0]['question'] %></h2>
        <h3>Cast your vote!</h3>
        <p>Rank your choices from most preferred (top) to least preferred (bottom) by dragging & dropping the items below!</p>
        <p>If you’ve already voted, you can view the current results <a href="/polls/<%= candidates[0].vote_url%>/result">here.</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <ul id="sortable">
          <% for(let item in candidates) { %>
          <% let candidate = candidates[item]; %>
          <div id=<%= candidate['candidate_id'] %>>
            <li>
              <h3 class="candidateName"><%= candidate['candidate'] %></h3>
              <span class="candidateDesc"><%= candidate['description'] %></span>
            </li>
          </div>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <label for="voterName">Name: </label>
        <input id="voterName" type="text" class="form-control" name="voterName" placeholder="Enter your name" required>
        <p id="errorMsg">Please enter your name before casting your vote!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <button id="voteSubmit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div><!-- /.container -->

  <% include ./partials/_body-scripts %>
  </body>
</html>
